*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}

.header{
    background-color: black;
}

.header p,
.header i{
    color: white;
    display: inline;
}